/*========================== Default ==========================*/

* {
  margin: 0;
}

body {
  background-color: rgb(255, 255, 255);
  font-family: 'Samsung Sharp Sans Regular';
}

div {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

a {
  text-decoration: none;
  color: white;
}

/*========================== Font Faces ==========================*/

@font-face {
  font-family: 'Samsung Sharp Sans Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Regular'), url(./files/fonts/samsungsharpsans.woff) format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Medium'), url(./files/fonts/samsungsharpsans-medium.woff) format('woff');
}

@font-face {
  font-family: 'Samsung Sharp Sans Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Samsung Sharp Sans Bold'), url(./files/fonts/samsungsharpsans-bold.woff) format('woff');
}

/*========================== Header ==========================*/

.headerNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #253b3f;
  padding: 2rem;
  font-family: 'Samsung Sharp Sans Medium';
}

.topNav {
  display: flex;
  justify-content: flex-end;
}

.topNav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.topNav ul li {
  margin: 0 1rem;
}

.topNav ul li a {

  padding: 1rem;
  color: #252827;
  text-decoration: none;
  font-size: 1.7rem;
  box-sizing: border-box;
}

.topNav ul li a:hover {
  color: #253b3f;
  border-bottom: 0.01rem solid #253b3f;
}

/*Top Name*/

.topName {
  font-family: 'Samsung Sharp Sans Bold';
  font-size: 3rem;
  margin-left: 2rem;
}

.lafozName {
  color: #253b3f;
  font-family: 'Samsung Sharp Sans Regular';
}

/*========================== Footer ==========================*/

.footerContNav {
  text-align: center;
  font-size: 1.5rem;
}

.footerCont {
  background-color: #253b3f;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

footer.footerCont>div {
  flex-basis: 100%;
  background-color: #253b3f;
  color: white;
  padding: 1rem;
}

.footerContRS {
  display: flex;
  gap: 3%;
  justify-content: center;
}

.svgRS {
  width: 3rem;
}

/*Bot Name*/

.botName {
  font-family: 'Samsung Sharp Sans Bold';
  font-size: 3rem;
  margin-left: 2rem;
  align-content: center;
}

.lafozBotName {
  color: white;
  font-family: 'Samsung Sharp Sans Regular';
}


/*========================== Dividers ==========================*/

#divider1 {
  height: 25rem;
}

#divider2 {
  height: 30rem;
}

#divider3 {
  height: 30rem;
}

/*========================== Content ==========================*/

.content {
  height: auto;
}

.contBox {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* About Me */


#contBox1 {
  height: auto;
}

.ml {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mlLeftBox {
  height: 100%;
}

.mlRightBox {
  height: 100%;
}

.mlText1 {
  font-size: 4.2rem;
  font-family: 'Samsung Sharp Sans Bold';
  color: #253b3f;
}

.mlText2 {
  color: #717174;
  font-family: 'Samsung Sharp Sans Medium';
  font-size: 2.5rem;
  margin-top: 2rem;
}

.mlText3 {
  color: #717174;
  font-size: 2rem;
  margin-top: 2rem;
  line-height: 3.5rem;
}

.mlImg {
  width: 35rem;
  margin-left: 5rem;
  position: static;
}

.mlRSBox {
  width: 10%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.mlRSBox ul {
  list-style: none;
  line-height: 6rem;
}

.mlIcons {
  width: 3rem;
}

/* Cont Box 2 */

#contBox2 {
  height: auto;
}

.aboutMeTopBox {
  width: 50%;
  height: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.aboutMeText1 {
  font-size: 4.2rem;
  font-family: 'Samsung Sharp Sans Bold';
  color: #253b3f;
  width: auto;

}

.aboutMeText2 {
  color: #717174;
  font-size: 1.5rem;
  width: auto;
  margin-top: 0.5rem;

}

.aboutMeText3 {
  color: #717174;
  font-size: 1.7rem;
  margin-top: 2rem;
  line-height: 3.5rem;
  text-align: center;
  width: 50%;
}

.aboutMeCvDownloadBox{
  width: 100%;
  margin-top: 4rem;
}

































































/*========================== Media Query ==========================*/

@media (min-width: 768px) {
  footer.footerCont>div {
    flex-basis: calc(33.33% - 2rem);
    margin: 1rem;
  }
}

@media (max-width: 1000px) {
  .headerNav {
    flex-wrap: wrap;
  }

  .topName {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
    order: 2;
    flex-basis: 100%;
  }

  .topNav {
    justify-content: center;
    margin-right: 0;
    margin-top: 2rem;
    order: 3;
    flex-basis: 100%;
  }

  .topNav ul {
    justify-content: center;
  }

  .topNav ul li {
    margin: 0 0.5rem;
  }

  .botName {
    margin-top: 2rem;
    margin-left: 0;
    text-align: center;
    order: 2;
    flex-basis: 100%;
  }

  .botNav {
    justify-content: center;
    margin-top: 2rem;
    order: 3;
    flex-basis: 100%;
  }

  .botNav ul {
    justify-content: center;
    flex-wrap: wrap;
  }

  .botNav ul li {
    margin: 0.5rem;
  }

  .mlRSBox {
    margin-right: 5rem;
  }
}

/*mlContact*/

.mlContact {
  font-size: 1.4rem;
  background-color: #253b3f;
  color: white;
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 1.6rem;
  overflow: hidden;
  transition: all 0.2s;
  height: 3rem;
  width: 13rem;
  margin-top: 5rem;
}

.mlContact span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.mlContact svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.mlContact:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.mlContact:hover svg {
  transform: translateX(3.6em) rotate(45deg) scale(1.1);
}

.mlContact:hover span {
  transform: translateX(10em);
}

.mlContact:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

/* CV Download*/

.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 1rem;
  z-index: 1;
  background-color: transparent;
 }
 
 .download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  min-height: 4rem;
  padding: 0 1rem;
  border-radius: 1rem;
  z-index: 1;
  background-color: #253b3f;

  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 

 
 .download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 1rem;
  transform: translateY(0%);
  background-color: #242a35;
  transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
 }
 
 .download-button:hover .download {
  transform: translateY(100%)
 }
 
 .download svg polyline,.download svg line {
  animation: docs 1s infinite;
 }
 
 @keyframes docs {
  0% {
   transform: translateY(0%);
  }
 
  50% {
   transform: translateY(-15%);
  }
 
  100% {
   transform: translateY(0%);
  }
 }