@import url("/src/assets/styles/variables.css");
@import url("/src/assets/styles/fonts.css");


/*========================== Default ==========================*/

* {
  margin: 0;
}

body {
  background-color:  white;
  color: var(--color-primary);
  font-family: var(--font-regular);
  font-size: var(--font-size-regular);
}

/*========================== Font style ==========================*/

.text-bold{
  font-family: var(--font-bold);
}

.text-medium{
  font-family: var(--font-medium);
}

/*========================== Font size ==========================*/

.font-size-1{
  font-size: var(--font-size-1);
}

.font-size-2{
  font-size: var(--font-size-2);
}

.font-size-3{
  font-size: var(--font-size-3);
}

.font-size-4 {
  font-size: var(--font-size-4);
}

/*========================== Font color ==========================*/

.font-color-primary{
  color: var(--color-primary);
}

.font-color-secondary{
  color: var(--color-secondary);
}

/*========================== Divider ==========================*/

.component{
  margin-top: 200px;
  margin-bottom: 200px;
}