.download-button {
  position: relative;
  border-width: 0;
  color: white;
  font-size: var(--font-size-4);
  width: 100px;
  font-weight: 600;
  border-radius: 10px;
  z-index: 1;
  background-color: transparent;

  a {
    color: white;
    text-decoration: none;
  }
}

.download-button .docs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  min-height: 40px;
  padding: 0 10px;
  border-radius: 10px;
  z-index: 1;
  background-color: var(--color-primary);
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 76%;
  max-height: 95%;
  margin: 0 auto;
  z-index: -1;
  border-radius: 10px;
  transform: translateY(0%);
  background-color: #242a35;
  transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
  transform: translateY(100%);
}

.download svg polyline,
.download svg line {
  animation: docs 1s infinite;
}

@keyframes docs {
  0% {
    transform: translateY(0%);
  }

  50% {
    transform: translateY(-15%);
  }

  100% {
    transform: translateY(0%);
  }
}
