/*========================== Content ==========================*/

.content {
    height: auto;
}

.contBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contTitleBox {

    font-size: 4.2rem;
    font-family: 'Samsung Sharp Sans Bold';
    color: #253b3f;
    text-align: center;
}

#contSubtitle {
    color: #717174;
    font-size: 1.5rem;
    margin-top: 0.5rem;
    font-family: 'Samsung Sharp Sans Regular';
}

/*============= Home =============*/

#homeCont {
    height: auto;
}

.homeBox {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeLeftBox {
    width: auto;
    display: flex;
    align-items: center;

}

.homeLeftBox ul {
    list-style: none;
    line-height: 6rem;
    margin-right: 12rem;
}

.homeIcons {
    width: 3rem;
}

.homeText1 {
    font-size: 4.2rem;
    font-family: 'Samsung Sharp Sans Bold';
    color: #253b3f;
}

.homeText2 {
    color: #717174;
    font-family: 'Samsung Sharp Sans Medium';
    font-size: 2.5rem;
    margin-top: 2rem;
}

.homeText3 {
    color: #717174;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3.5rem;
}

.homeImg {
    width: 35rem;
    margin-left: 5rem;
    position: static;
}





/*============= About me =============*/

#aboutmeCont {
    height: auto;
}

.aboutMeBox {
    width: 50%;
    height: auto;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.aboutMeText {
    color: #717174;
    font-size: 2rem;
    margin-top: 2rem;
    line-height: 3.5rem;
    text-align: center;
    width: 50%;
}

.aboutMeCvDownloadBox {
    width: 100%;
    margin-top: 4rem;
}

/*============= Skills =============*/

#skillsCont {
    height: auto;
}

#skillsTitle {
    width: 100%;
}

.skillsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}

.skills {
    width: 35rem;
    height: auto;
    margin: 4rem;

}

.skillsTopBox {
    width: 100%;
    height: 4.3rem;
    margin-bottom: 3rem;
}

.skillsLogo {
    width: 4rem;
    float: left;
}

.skillsLogo img {
    width: 100%;
}

.skillsName {
    color: #252827;
    font-size: 2.5rem;
    font-family: 'Samsung Sharp Sans Medium';
    margin-left: 5rem;
    padding-top: 0.5rem;
}


.skillsBotBox {
    width: 100%;
    height: auto;
}


/*Skill*/

.skill {
    width: 90%;
    height: 5rem;
    float: right;
    margin-bottom: 2rem;
}

.skillNameID {
    width: 100%;
    height: 2rem;
    font-size: 1.7rem;
    color: #717174c4;
    font-family: 'Samsung Sharp Sans Medium';
}

.skillNameIDLeft {
    float: left;
}

.skillNameIDRight {
    float: right;
}

.skillBar {
    width: 100%;
    margin-top: 1rem;
    height: 1rem;
    background-color: #7171744f;
    border-radius: 1rem;
}

.skillBarProg {
    height: 100%;
    background-color: #253b3f;
    border-radius: 1rem 0rem 0rem 1rem;
}

.skillsHeader {
    width: 100%;
    height: 10rem;
    font-size: 4.2rem;
    font-family: 'Samsung Sharp Sans Bold';
    color: #253b3f;
}

#skillHeader2 {
    color: #717174;
    font-size: 1.5rem;
    width: auto;
    margin-top: 0.5rem;
    font-family: 'Samsung Sharp Sans Regular';
}

/*============= Projects =============*/

#projectsCont {
    height: auto;
}

.slideBox {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideBoxImg {
    width: 40%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.slideBoxImg img {
    width: 100%;
}

.slideBoxDivider {
    width: 10%;
    height: 100%;
}

.slideBoxText {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.slideTitle {
    font-family: 'Samsung Sharp Sans Medium';
    padding-bottom: 2rem;
    color: #253b3f;
}

.slideText {
    font-size: 1.3rem;
    color: #717174;
    width: 80%;
}

.slideButtonBox {
    width: 100%;
    height: 4rem;
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 2rem;
}

.slideButton {
    width: 3rem;
    height: 3rem;
    background-color: #253b3f;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideButton img {
    width: 60%;
}