/*========================== Skills ==========================*/

.skills-group-container{
    width: 350px;
}

.skills-group-img{
    height: 40px;
}

.skillNameID {
    width: 100%;
    height: 20px;
    color: #717174c4;
}

.skillNameIDLeft {
    float: left;
}

.skillNameIDRight {
    float: right;
}

.skillBar {
    width: 100%;
    margin-top: 10px;
    height: 10px;
    background-color: #7171744f;
    border-radius: 10px;
}

.skillBarProg {
    height: 100%;
    background-color: #253b3f;
    border-radius: 10px 0px 0px 10px;
}


