/*========================== Variables ==========================*/

:root {
  --color-primary: #253b3f; 

  --font-regular : 'Samsung Sharp Sans Regular';
  --font-medium : 'Samsung Sharp Sans Medium';
  --font-bold : 'Samsung Sharp Sans Bold';

  --font-size-regular : 14px;
  --font-size-1 : 45px;
  --font-size-2 : 30px;
  --font-size-3 : 20px;
}